:root {
  font-size: 24px;
}

body {
  margin: 0;
  min-height: 100vh;
}

.calc-main-container {
  padding: 0.4rem;
  width: fit-content;
  background-color: #5267aa;
  box-shadow: 4px 5px 9px 3px #0f1527;
}

.calc-display {
  margin-bottom: 5px;
  padding-left: 5px;
  background: linear-gradient(
    0deg,
    rgb(156 156 156) 0%,
    rgb(104 103 103 / 94%) 100%
  );
  box-shadow: inset 0px 1px 2px 1px #403f3f;
}

.calc-keyboard {
  display: flex;
  justify-content: center;
}

.border {
  border: 1px solid gray;
  border-radius: 4px;
}

.section-1 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

td > button {
  font-size: 1rem;
  color: white;
  border: 1px solid #394b86;
  border-radius: 6px;
  min-width: 1.3rem;
  max-width: 1.3rem;
  background-color: #394b86;
  box-shadow: inset 4px 5px 9px 3px #12286a;
}

hr {
  border-top: none;
  border-left: none;
  border-color: gray;
  border-right: none;
}

.calc-solar-power {
  display: flex;
  box-shadow: inset 1px 1px 10px 3px #040000;
  width: fit-content;
  border-radius: 5px;
  margin: 0.5rem 0 0.5rem auto;
}

.calc-solar-power-cell {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #4f3b3b;
  border-right: 1px solid #855c5c;
}

@media only screen and (max-width: 760px) {
  .calc-main-container {
    background-color: #040000;
  }
}
